* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: rgba(81, 101, 255, 0.66);
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    margin-top: 5%;
}

.container h1 {
    color: #ffffff;
    padding-bottom: 40px;
    font-family: monospace;
}

.section {
    background-color: #ffffff;
    padding: 40px 20px;
    border: 1.5px solid #b2b2b2;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

.contact-info {
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #000;
}

#my-qr-reader {
    padding: 20px !important;
    border: 1.5px solid #b2b2b2 !important;
    border-radius: 8px;
}

#my-qr-reader img[alt="Info icon"] {
    display: none;
}

#my-qr-reader img[alt="Camera based scan"] {
    width: 100px !important;
    height: 100px !important;
}

button, #copy-link-btn, #share-link-btn {
    padding: 10px 20px;
    border: 1px solid #b2b2b2;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    background-color: #0f5b0fad;
    transition: 0.3s background-color;
}

button:hover, #copy-link-btn:hover, #share-link-btn:hover {
    background-color: #008000;
}

video {
    width: 100% !important;
    border: 1px solid #b2b2b2 !important;
    border-radius: 8px;
}

#result {
    color: red;
    font-weight: bold;
    margin-top: 15px;
}
